# 7.1 문자열을 날짜로 변환하기

In [1]:
import numpy as np
import pandas as pd

In [2]:
date_strings = np.array(['03-04-2005 11:35 PM',
                         '23-05-2010 12:01 AM',
                         '04-09-2009 09:09 PM'])

In [3]:
# TIimestamp 객체로 바꾼다.
[pd.to_datetime(date, format = '%d-%m-%Y %I:%M %p') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

오류 처리를 위해 errors 매개변수를 추가할 수도 있다.

In [4]:
# datetime으로 바꾼다.
[pd.to_datetime(date, format = '%d-%m-%Y %I:%M %p', errors = 'ignore') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

errors = "coerce"는 문제가 발생해도 에러를 일으키지 않지만 대신 에러가 난 값을 NaT(즉 누락된 값)으로 설정한다.

In [15]:
pd.DataFrame({'코드': ['%Y', '%m', '%d', '%I', '%p', '%M', '%S'],
              '설명': ['전체연도', '0으로 시작하는 월', '0으로 시작하는 일', '0으로 시작하는 시간(12시간제)', 'AM 또는 PM',
                       '0으로 시작하는 분', '0으로 시작하는 초'],
              '예': ['2001', '04', '09','02', 'AM', '05', '09' ]})

   코드                  설명     예
0  %Y                전체연도  2001
1  %m          0으로 시작하는 월    04
2  %d          0으로 시작하는 일    09
3  %I  0으로 시작하는 시간(12시간제)    02
4  %p            AM 또는 PM    AM
5  %M          0으로 시작하는 분    05
6  %S          0으로 시작하는 초    09

In [16]:
pd.to_datetime(date_strings)

DatetimeIndex(['2005-03-04 23:35:00', '2010-05-23 00:01:00',
               '2009-04-09 21:09:00'],
              dtype='datetime64[ns]', freq=None)

# 7.2 시간대 다루기

In [17]:
import pandas as pd

In [18]:
pd.Timestamp('2017-05-01 06:00:00', tz = 'Europe/London')

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

tz_localize 메서드를 사용해 이전에 만든 datetime에 시간대를 추가할 수 있다.

In [19]:
date = pd.Timestamp('2017-05-01 06:00:00')

In [20]:
# 시간대 지정
date_in_london = date.tz_localize('Europe/London')

In [21]:
# 시간대 변환
date_in_london.tz_convert('Africa/Abidjan')

Timestamp('2017-05-01 05:00:00+0000', tz='Africa/Abidjan')

In [22]:
# 세 개의 날짜를 만든다.
dates = pd.Series(pd.date_range('2/2/2002', periods = 3, freq = 'M'))

In [24]:
dates.dt.tz_localize('Africa/Abidjan')

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

pytz 라이브러리의 문자열을 사용하는 것이 좋다.\
all_timezones을 임포트하여 전체 시간대 문자열을 확인할 수 있다.

In [25]:
from pytz import all_timezones

In [26]:
# 두 개의 시간대를 확인한다.
all_timezones[0:2]

['Africa/Abidjan', 'Africa/Accra']

'dateutil/'로 시작하여 dateutil 문자열을 사용할 수 있다.

In [27]:
dates.dt.tz_localize('dateutil/Aisa/Seoul')

0   2002-02-28
1   2002-03-31
2   2002-04-30
dtype: datetime64[ns]

In [28]:
import pytz

tz = pytz.timezone('Asia/Seoul')
dates.dt.tz_localize(tz)

0   2002-02-28 00:00:00+09:00
1   2002-03-31 00:00:00+09:00
2   2002-04-30 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

# 7.3 날짜와 시간 선택하기

In [29]:
import pandas as pd

In [30]:
dataframe = pd.DataFrame()

In [32]:
dataframe['date'] = pd.date_range('1/1/2001', periods = 100000, freq = 'H')

In [34]:
dataframe[(dataframe['date'] > '2002-1-1 01:00:00') & (dataframe['date'] <= '2002-1-1 04:00:00')]

                    date
8762 2002-01-01 02:00:00
8763 2002-01-01 03:00:00
8764 2002-01-01 04:00:00

In [35]:
# 인덱스 설정하기
dataframe = dataframe.set_index(dataframe['date'])
dataframe.head()

                                   date
date
2001-01-01 00:00:00 2001-01-01 00:00:00
2001-01-01 01:00:00 2001-01-01 01:00:00
2001-01-01 02:00:00 2001-01-01 02:00:00
2001-01-01 03:00:00 2001-01-01 03:00:00
2001-01-01 04:00:00 2001-01-01 04:00:00

In [36]:
# 두 datetime 사이 샘플을 선택한다.
dataframe.loc['2002-1-1 01:00:00':'2002-1-1 04:00:00']

                                   date
date
2002-01-01 01:00:00 2002-01-01 01:00:00
2002-01-01 02:00:00 2002-01-01 02:00:00
2002-01-01 03:00:00 2002-01-01 03:00:00
2002-01-01 04:00:00 2002-01-01 04:00:00

# 7.4 날짜 데이터를 여러 특성으로 나누기